body{
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.card {
    border: 1px solid #999;
    border-radius: 9px;
    width: 250px;
}

input[type="text"] {
    width: 200px;
    height: 25px;
}

th,
td {
  height: 30px;
  text-align: center;
}

th{
    background-color: #777777;
    color: white;
}

td{
    padding: 8px;
}

.id{
    width: 120px;
}

.name{
    text-align: left;
}

.company{
    width: 150px;
}

.price{
    width: 100px;
    text-align: right;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

form{
    margin: 10px 0;
}

section{
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
}

.nav{
    display: inline-block;
    text-align: center;
    padding: 8px;
    width: 80px;
    border: 1px solid #999;
    margin: 0 10px 0 0;
}